# Created by .ignore support plugin (hsz.mobi)
### Jekyll template
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

.idea/$CACHE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/codeStyles/
.idea/encodings.xml
.idea/jenetics.github.io.iml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
